$mat-light-orange: (
  50 : #fdf1e6,
  100 : #fbddc0,
  200 : #f8c697,
  300 : #f5af6d,
  400 : #f29d4d,
  500 : #f08c2e,
  600 : #ee8429,
  700 : #ec7923,
  800 : #e96f1d,
  900 : #e55c12,
  A100 : #ffffff,
  A200 : #ffe9e0,
  A400 : #ffc6ad,
  A700 : #ffb593,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-light-purple: (
  50 : #ede6fd,
  100 : #d3c0fb,
  200 : #b697f8,
  300 : #996df5,
  400 : #834df2,
  500 : #6d2ef0,
  600 : #6529ee,
  700 : #5a23ec,
  800 : #501de9,
  900 : #3e12e5,
  A100 : #ffffff,
  A200 : #e5e0ff,
  A400 : #bbadff,
  A700 : #a693ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-light-blue: (
  50 : #e8eaf6,
  100 : #c5cbe9,
  200 : #9fa8da,
  300 : #7985cb,
  400 : #5c6bc0,
  500 : #3f51b5,
  600 : #394aae,
  700 : #3140a5,
  800 : #29379d,
  900 : #1b278d,
  A100 : #c6cbff,
  A200 : #939dff,
  A400 : #606eff,
  A700 : #4757ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

